.listing-p-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	border-radius: 12px;
	padding: 1rem;
}

.listing-p-text-container {
	/* border: var(--heavy-accent-clr) solid 3px;
	background-color: var(--primary-clr); */
	display: flex;
	justify-content: space-between;
	align-items: center;
	border-radius: 12px;
	padding: 1rem;
	height: auto;
	width: auto;
}

.listing-p-title {
	border: solid 3px var(--heavy-accent-clr);
	border-radius: 12px;
	text-align: center;
	background-color: var(--primary-clr);
	padding: 0 2rem;
	font-size: var(--fs-huge);
}

.half-listing-text {
	width: fit-content;
}

.listing-p-image-container {
	display: flex;
	height: 330px;
	width: 330px;
}

.listing-p-image {
	height: auto;
	width: 100%;
	border: solid 3px var(--heavy-accent-clr);
	border-radius: 12px;
}
