.listing-container {
	display: grid;
	grid-template-columns: repeat(3, minmax(250px, 1fr));
	gap: 2rem;
	width: 100%;
}

.listing-structure {
	display: flex;
	flex-direction: column;
	border: solid 3px;
	border-image-slice: 1;
	padding: 1rem 0.3rem;
	background-color: var(--primary-clr);
	min-width: 300px;
	cursor: pointer;
}

.border-gradient {
	border-image-source: linear-gradient(
		to left,
		var(--heavy-accent-clr),
		var(--light-accent-clr)
	);
}

.listing-image {
	height: auto;
	width: 100%;
}

.listing-title {
	margin: 0;
	font-size: 1.5rem;
	color: var(--accent-clr);
}

.listing-heart-btn {
	background: none;
	border: none;
	cursor: pointer;
	color: var(--accent-clr);
	font-size: 1.2rem;
	margin-left: 0.5rem;
}

.listing-description {
	margin: 0.5rem 0;
	color: var(--secondary-clr);
}

.listing-price {
	font-size: 1.2rem;
	color: var(--accent-clr);
	margin: 0.5rem 0;
}

.add-to-cart-listing {
	background-color: var(--accent-clr);
	border: none;
	padding: 0.5rem;
	color: white;
	cursor: pointer;
	border-radius: 5px;
	font-size: 1rem;
}
