.home-listings-cat-wrapper {
	/* background-color: var(--primary-clr); */
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	border-top: solid 3px var(--heavy-accent-clr);
	background: linear-gradient(
		0.25turn,
		var(--primary-clr),
		var(--secondary-clr),
		var(--primary-clr)
	);
}

.category-container {
	display: flex;
	padding: 2rem 0;
	gap: 1rem;
}

.category-button {
	border: solid 3px var(--heavy-accent-clr);
	border-radius: 12px;
	padding: 0.5rem 1rem;
	cursor: pointer;
	background-color: transparent;
}

.category-button:hover {
	box-shadow: 5px 5px 20px var(--heavy-accent-clr),
		-5px -5px 20px var(--heavy-accent-clr);
}

.category-button.active {
	border-color: var(--heavy-accent-clr);
	background-color: var(--heavy-accent-clr);
	color: white;
	box-shadow: 5px 5px 20px var(--heavy-accent-clr),
		-5px -5px 20px var(--heavy-accent-clr);
}

.listing-container {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
	margin: 0 auto;
	gap: 2rem;
	width: 90%;
	padding: 1rem 0;
}

.listing-structure {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: solid 3px var(--heavy-accent-clr);
	border-radius: 12px;
	height: 420px;
	border-image-slice: 1;
	padding: 1rem 0.3rem;
	background-color: var(--primary-clr);
	width: 100%;
	max-width: 350px;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
}

.listing-structure:hover {
	box-shadow: 5px 5px 20px var(--heavy-accent-clr);
}

.listing-image {
	height: 250px;
	width: auto;
}

.listing-header-container {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

.listing-title {
	margin: 0;
	padding: 0;
	text-align: center;
	font-size: var(--fs-medium);
	color: var(--accent-clr);
}

.listing-heart-btn {
	background: none;
	border: none;
	cursor: pointer;
	color: var(--accent-clr);
	font-size: 1.2rem;
	margin-left: 0.5rem;
}

.listing-footer-info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

.listing-categories {
	/* border: solid 1px var(--light-accent-clr); */
	border-radius: 12px;
	padding: 0 0.5rem;
	display: flex;
	justify-content: center;
	gap: 1rem;
	width: fit-content;
}

.listing-category {
	font-size: 14px;
}

.listing-footer-container {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
	padding: 0 1rem;
}

.listing-price {
	font-size: 1.2rem;
	color: var(--accent-clr);
	margin: 0.5rem 0;
}

.add-to-cart-listing {
	border: solid 3px var(--heavy-accent-clr);
	border-radius: 12px;
	transition: all 0.2s ease-in-out;
}

.add-to-cart-listing:hover {
	color: white;
	background-color: var(--light-accent-clr);
}

@media screen and (max-width: 376px) {
	.category-container {
		justify-content: center;
		flex-wrap: wrap;
		width: 100%;
	}

	.listing-container {
		margin: 0;
		width: 345px;
	}

	.listing-structure {
		width: 330px;
	}
}
