.home-masthead {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 60dvh;
	background-color: none;
}

@media screen and (max-width: 376px) {
	.mast-title {
		text-align: center;
	}

	.small-title {
		font-size: var(--fs-small);
	}
}
