.signup-form-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	border: solid 3px var(--heavy-accent-clr);
	border-radius: 12px;
	/* background-color: var(--primary-clr); */
	padding: 0.3rem 0.5rem;
	height: 538px;
	width: 540px;
	gap: 1rem;
}

.signup-title {
	text-align: center;
	font-size: var(--fs-large);
	margin-top: 2rem;
}

.signup-form-structure {
	display: flex;
	width: 100%;

	justify-content: space-evenly;
	gap: 0.5rem;
}

.su-form-left {
	display: flex;
	flex-direction: column;
	gap: 2.3rem;
}

.su-form-right {
	display: flex;
	flex-direction: column;
	gap: 2.3rem;
}

.input-wrapper {
	position: relative;
	width: 233px;
}

.input-label {
	position: absolute;
	top: 30%;
	left: 10px;
	transform: translateY(-50%);
	color: var(--primary-clr);
	pointer-events: none;
	transition: all 0.3s ease;
}

.signup-input {
	width: inherit;
	padding: 0.3rem;
	/* padding-left: 10px; */
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	transition: border-color 0.3s ease;
}

.signup-input:focus {
	color: var(--primary-clr);
}

.signup-input:focus + .input-label,
.input-label.active {
	top: 0;
	transform: translateY(-100%);
	font-size: var(--fs-primary);
	color: white;
}

.errors-su {
	/* position: absolute; */
	/* max-width: 50px; */
	color: red;
	font-size: var(--fs-tiny);
	text-align: center;
	min-height: 15px;
	max-height: 15px;
	margin: 0;
	/* overflow-wrap: break-word; */
}

.sign-up-submit-btn {
	width: fit-content;
	border: 3px solid var(--light-accent-clr);
	border-radius: 12px;
	padding: 0.5rem 1rem;
	transition: all 0.2s ease-in-out;
}

.sign-up-submit-btn:hover {
	background-color: var(--light-accent-clr);
}
