.listing-holder {
	display: flex;
}

.listing-form {
	display: flex;
	flex-direction: row-reverse;
	justify-content: space-around;
	border-radius: 12px;
	border: solid 3px var(--light-accent-clr);

	margin: 0 1rem;
	height: auto;
}

.listing-form-input-holder {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	justify-content: center;
	gap: 1rem;
	width: 55%;
	/* border: solid 3px var(--heavy-accent-clr); */
	border-radius: 12px;
	padding: 0.3rem;
	/* background-color: var(--third-clr); */
	height: 500px;
}

.listing-form-image-holder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40%;

	/* border: solid 2px var(--heavy-accent-clr); */
	border-radius: 12px;
	/* background-color: var(--third-clr); */
}

.listing-inputs {
	display: flex;
	align-items: center;
	justify-content: space-around;
	gap: 0.2rem;
	height: 90%;
	width: 100%;
}

.left-input-div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	gap: 1.3rem;
	width: 60%;
}

.listing-label-div {
	display: flex;
	flex-direction: column;
	height: 60px;
}

.listing-label-div-description {
	height: 130px;
}

.listing-input-field {
	border: solid 3px var(--heavy-accent-clr);
	border-radius: 12px;
	background-color: white;
	color: var(--primary-clr);
	height: 30px;
	width: 400px;
}

.listing-input-field-select {
	border: solid 2px var(--heavy-accent-clr);
	border-radius: 12px;
	color: var(--primary-clr);
	height: auto;
	display: flex;
	flex-direction: column;
	background-color: white;
	padding: 1rem;
	font-size: var(--fs-primary);
	width: 250px;
}

.listing-input-field-text {
	border: solid 2px var(--heavy-accent-clr);
	background-color: white;
	border-radius: 12px;
	color: var(--primary-clr);

	max-width: 400px;
	min-width: 400px;
	min-height: 100px;
	max-height: 100px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.listing-submit-btn {
	width: fit-content;
	padding: 0.5rem 2rem;
	border: solid 3px var(--light-accent-clr);
	border-radius: 12px;
	background-color: var(--fs-primary);
	color: white;
}

.image-preview {
	border: solid 2px var(--heavy-accent-clr);
	border-radius: 12px;
	background-color: var(--primary-clr);
	width: 400px;
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	overflow: hidden;
}

.listing-image {
	max-width: 100%;
	max-height: 100%;
	object-fit: contain;
}

.error {
	color: red;
	margin: 0;
}
