.modal-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 1000;
}

.modal-container {
	border: solid 4px var(--light-accent-clr);
	background-color: white;
	color: var(--primary-clr);
	padding: 2rem;
	border-radius: 8px;
	text-align: center;
	width: 400px;
}

.modal-buttons {
	display: flex;
	justify-content: space-around;
	margin-top: 1.5rem;
}

.modal-button {
	padding: 0.75rem 1.5rem;
	border-radius: 4px;
	font-size: 1rem;
	cursor: pointer;
	border: none;
	outline: none;
}

.modal-button.cancel {
	background-color: #ccc;
	color: #333;
}

.modal-button.confirm {
	background-color: red;
	color: #fff;
}
