.login-main-holder {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 90dvh;
	gap: 1rem;
	position: relative;
}
.login-forms-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
	z-index: 10;
	border: solid 3px var(--third-clr);
	border-radius: 12px;
	padding: 1.5rem;
}

.homenu-title {
	padding: 0;
	/* border-top: double 10px var(--third-clr); */
	/* border-bottom: double 10px var(--third-clr); */
	border-radius: 50%;
}

.login-btns-container {
	display: flex;
	gap: 1rem;
	width: auto;
}

.homenu-btn {
	border: solid 3px var(--third-clr);
	border-radius: 12px;
	padding: 0.5rem 1rem;
	transition: all 0.2s ease-in;
}

.homenu-btn:hover {
	background-color: var(--third-clr);
	color: white;
}
