.login-main-holder {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 90dvh;
	gap: 1rem;
	position: relative;
}
.login-forms-container {
	display: flex;
	height: 80%;
	width: 80%;
	justify-content: space-around;
	align-items: center;
	gap: 1rem;
	z-index: 10;
	/* border: solid 3px var(--third-clr); */
	border-radius: 12px;
	padding: 2rem;
}

.login-form-left {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 1rem;
}

.homenu-title {
	padding: 0;
	/* border-top: double 10px var(--third-clr); */
	/* border-bottom: double 10px var(--third-clr); */
	border-radius: 50%;
}

.login-btns-container {
	display: flex;
	gap: 1rem;
	width: auto;
}

.homenu-btn {
	border: solid 3px var(--third-clr);
	border-radius: 12px;
	padding: 0.5rem 1rem;
	transition: all 0.2s ease-in;
}

.homenu-btn:hover {
	background-color: var(--third-clr);
	color: white;
}

@media screen and (max-width: 376px) {
	/* ! Login form styles */
	.login-main-holder {
		height: auto;
		margin-bottom: 1rem;
	}

	.login-forms-container {
		height: auto;
		flex-direction: column;
	}

	.login-form-left {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}

	.homenu-btn {
		padding: 0.2rem 0.5rem;
	}

	.login-form-wrapper {
		width: 350px;
		height: auto;
		padding: 0.3rem 0;
		align-items: center;
		border: none;
	}

	.login-form-structure {
		align-items: end;
	}

	.login-input {
		width: 200px;
	}

	/* ! Sign-up form styles */

	.signup-form-wrapper {
		border: none;
		height: 100%;
		width: 350px;
		padding: 0;
	}

	.signup-form-structure {
		flex-direction: column;
		align-items: end;
		width: 100%;
		gap: 0.4rem;
	}

	.su-form-left {
		gap: 0.4rem;
	}

	.su-form-right {
		gap: 0.4rem;
	}

	.signup-input {
		width: 200px;
	}

	.input-label {
		position: absolute;
		left: -90px;
		color: white;
		max-width: 100px;
	}
	.signup-input:focus + .input-label,
	.input-label.active {
		top: 50%;
	}

	.errors {
		font-size: var(--fs-tiny);
		width: inherit;
	}
}
