.login-form-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
	border: solid 3px var(--heavy-accent-clr);
	border-radius: 12px;
	/* background-color: var(--primary-clr); */
	gap: 2rem;
	height: 300px;
	padding: 1rem 2rem;
	width: 400px;
}

.login-title {
	font-size: var(--fs-large);
}

.login-form-structure {
	display: flex;
	flex-direction: column;
	/* align-items: center; */
	height: 200px;
	width: inherit;
	gap: 2rem;
}

.input-wrapper {
	position: relative;
	height: 60px;
}

.input-label {
	position: absolute;
	top: 60%;
	left: 10px;
	transform: translateY(-50%);
	color: #aaa;
	pointer-events: none;
	transition: all 0.3s ease;
}

.login-input {
	width: 380px;
	padding: 0.3rem;
	/* padding-left: 10px; */
	font-size: 16px;
	border: 1px solid #ccc;
	border-radius: 4px;
	outline: none;
	transition: border-color 0.3s ease;
}

.login-input:focus {
	border-color: #007bff;
}

.login-input:focus + .input-label,
.input-label.active {
	top: 0;
	transform: translateY(-100%);
	font-size: var(--fs-primary);
	color: white;
}

.errors {
	min-height: 15px;
	margin: 0;
	color: red;
	width: 380px;
}

.login-submit-btn {
	width: fit-content;
	padding: 0.5rem 1rem;
	border: solid 3px var(--light-accent-clr);
	border-radius: 12px;
	margin: 0 auto;
	transition: all 0.2s ease-in-out;
}

.login-submit-btn:hover {
	background-color: var(--light-accent-clr);
}
