.nav-bar {
	display: flex;
	padding: 1rem;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 1000;
	transition: background-color 0.3s ease, box-shadow 0.3s ease;
	background-color: transparent;
}

.nav-bar.scrolled {
	background-color: black; /* Background color after scrolling */
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow for effect */
}

.main-content {
	margin-top: 50px;
	padding: 1rem;
}

.logo {
	font-size: 30px;
}
